<header>
  <img src="./assets/images/rps.png" alt="">      
  <form>
    <input type="text" class="textbox" placeholder="Username">
    <input title="Search" value="SUBMIT" type="submit" class="button">
  </form>
</header>
<div>
  <div class="container choice">
    <div class="rps">
      <img src="./assets/images/rps.png" alt="">
      <span>Rock Paper Scissors(classic)</span>
    </div>
    <div class="rpsls">
      <img src="./assets/images/rpsls.png" alt="">
      <span>Rock Paper Scissors Lizard Spock</span>
      <span>(not for the faint of heart</span>
    </div>
  </div>
</div>